<div class='wrapper clearfix wrapper_padding'>
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm a full-stack developer, whos enthusiastic and opertunistic. I have a stead fast attitude when it comes to coding.</p>

    <p>By day I work on my blog and front end design. </p>

    <p>By night I practice Ruby on Rails.</p>

    <p>You can find me speaking 140 characters on Twitter, or sharing some code to
    <a href="https://github.com/AngelM1015" target="_blank">Github</a>.</p>
  </div>

  <div class="col-2 homepage_content">
  <h2>Written Content</h2>
  <hr>
  <% @posts.each do |post| %>
  <h3><a href="#"><%= link_to post.title, post %></a></h3>
  <p class="date"><%= post.created_at.strftime("%A, %b %d")%></p>
  <% end %>
  </div>

  <div class="col-3 homepage_content">
  <h2>I've Built</h2>
  <hr>
  <h3> Unicast</h3>
  <p class="date"> // </p>
  <h3> Angel's Community</h3>
  <p class="date"> // </p>
  <h3> 12 in 12 challenge</h3>
  <p class="date"> // </p>
  </div>
</div>
